<footer>
  <div class="footer-div">
    <div class="footer-items">
      <div class="div-icon-footer">
        <i class="fa-solid fa-credit-card"></i>
      </div>

      <p class="en-negrita">
        <strong>Pagá con tarjeta o en efectivo</strong>
      </p>
      <p>
        Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
        siempre es seguro!
      </p>
    </div>

    <div class="footer-items">
      <div class="div-icon-footer"><i class="fa-solid fa-gift"></i></div>
      <p class="en-negrita">
        <strong> Envío gratis desde $ 2.500 </strong>
      </p>
      <p>
        Solo por estar registrad@ en Velvet tenés envíos gratis en miles de
        productos.
      </p>
    </div>

    <div class="footer-items">
      <div class="div-icon-footer">
        <i class="fa-solid fa-user-shield"></i>
      </div>

      <p class="en-negrita">
        <strong>Seguridad de principio a fin</strong>
      </p>
      <p>
        ¿No te gusta? ¡Devolvelo! En Velvet, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
      </p>
    </div>
  </div>

  <p>Copyright © 1999-2020 Velvet S.R.L</p>
</footer>
