<header>
  <div class="div-header">
    <div class="items-header items-header-menu-logo">
      <div class="items-menu">
        <button type="menu"><i class="fa-solid fa-bars"></i></button>
      </div>

      <div class="items-logo">
        <img src="/img/logo11.ico" alt="logo-pagina" />
      </div>

      <div class="items-marca">
        <p>VELVET</p>
      </div>
    </div>

    <form class="items-header items-header-search">
      <div class="items-search">
        <input type="text" name="search" id="search" placeholder="Buscar" />
      </div>

      <div class="items-submit">
        <button type="submit" value="search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>

    <div class="items-header-link">
      <a href="/login">Sign in</a>

      <a href="/register">register</a>

      <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </div>
 
</header>
