<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Velvet</title>
  <link rel="icon" href="/img/logo11.ico" type="image/x-icon" />

  <script
    src="https://kit.fontawesome.com/2e6a12999a.js"
    crossorigin="anonymous"
  ></script>

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/carritoestilos.css" />
</head>
