@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --cPrimario: #4021da;
  --cSecundario: #653fe4;
  --calgo2: #895ced;
  --calgo3: #ae79f6;
  --calgo4: #d397ff;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* CSS HEADER */
header {
  background-color: #fff;
  border-bottom: 1px solid #999696;
}

.div-header {
  display: flex;
  justify-content: space-evenly;
}

.items-header {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.items-header-link {
  display: none;
}

.items-menu,
.items-logo {
  width: 30%;
  display: flex;
  justify-content: center;
}

.items-marca {
  width: 40%;
  display: none;
  align-items: center;
}

.items-marca > a > p {
  font-size: larger;
  text-decoration: none;
  color: var(--cPrimario);
}

.items-header > .items-logo > a > img {
  height: 50px;
  text-align: center;
}

.items-header-search {
  width: 70%;
  display: contents;
  justify-content: space-around;
  align-items: center;
}

.items-header-search .items-submit {
  height: 100%;
  margin: 0;
  margin-right: 5px;
  width: 10%;
}

.items-menu {
  text-align: center;
}

.items-menu > button,
.items-submit > button {
  margin: 2.2vh 2vw;
  border: 1px solid #a4a3a3;
  border-radius: 5px;
  background-color: transparent;
}

.header-search {
  display: flex;
  align-items: center;
}

.items-search {
  width: 45%; /* Reduzco el ancho para dar m치s espacio al bot칩n */
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-search > input {
  width: 100%;
  padding: 8px; /* Ajusto la altura del input */
  border: 1px solid #a4a3a3;
  border-radius: 5px;
}

.items-submit {
  width: 35%; /* Ajusto el ancho del bot칩n */
}

.items-submit > button {
  width: 100%;
  padding: 8px; /* Ajusto la altura del bot칩n */
  border: 1px solid #a4a3a3;
  border-radius: 5px;
  background-color: var(--cPrimario);
  color: #fff;
  cursor: pointer;
}

.items-submit > button:hover {
  background-color: var(--cSecundario);
}
/* HEADER LOGEADO*/

.loged-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.profile-pic-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  width: 100%;
}

.bienvenida {
  text-decoration: none;
  color: black;
  display: none;
}

.fa-cart-shopping {
  text-decoration: none;
  color: black;
}

/* Errores formularios */
.feedback {
  color: red;
  text-align: left;
}

/* NO SE COMO LLAMARLE XD */
.img-inicio {
  background-color: white;
  text-align: center;
}

.img-inicio > img {
  margin: 0;
  width: 100%;
}

.eslogan {
  width: 70%;
  margin: 2vw auto;
}

.texto-inicio,
.autor-texto-inicio {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
}

.texto-inicio {
  font-size: 5vw;
  text-align: center;
  padding: 3vw;
}

.autor-texto-inicio {
  font-size: 4vw;
  text-align: right;
  padding: 3vw;
}

/* CSS MAIN */
.main-home {
  width: 90%;
  margin: 0 auto;
}

.seccion-articulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px auto;
}

.seccion-articulo > h2 {
  width: 100%;
  margin: auto 5px;
  font-size: 2vw;
}

.section-title {
  text-decoration: none;
  color: var(--cPrimario);
  font-weight: bold;
}

.item-articulo {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: white;
  width: 45%;
  margin-bottom: 10px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}

.item-img {
  width: 80%;
  margin: 0 auto 1vh;
}

.item-img img {
  width: 100%;
}

.item-descripcion {
  text-align: center;
  width: 92%;
  margin: 1vh auto 0;
}

.item-descripcion > p {
  font-size: 1vw;
  margin: 0;
}

.nombre-articulo,
.div-button-descripcion > button {
  width: 100%;
  cursor: pointer;
}

.nombre-articulo {
  border-top: 2px solid rgb(148, 148, 148);
  padding-top: 1vh;
  text-decoration: none;
  color: black;
}

.div-button-descripcion > button {
  background-color: var(--cPrimario);
  color: #fff;
  display: block;
  width: 85%;
  margin: 5px auto 0;
  border: none;
  border-radius: 10px;
}

.precio-descuento-articulo {
  display: flex;
  margin-top: 5px;
  overflow: hidden;
}

.precio-articulo,
.descuento-articulo,
.precio-sin-descuento {
  margin: 10px;
  width: 33%;
}

.precio-articulo-1,
.precio-articulo {
  color: var(--cSecundario);
  font-size: 4vw;
  width: 100%;
  font-size: 4vw;
}

.cuotas-articulo {
  color: rgb(132, 132, 132);
}

.descuento-articulo {
  background-color: var(--calgo2);
  color: white;
  font-size: 2vw;
  margin: auto;
  border-radius: 2px;
}

.precio-sin-descuento {
  font-size: 2vw;
  text-decoration: line-through;
  margin: auto;
  color: rgb(132, 132, 132);
}

/* PERFIL DEL USUARIO */

.user-name {
  text-align: center;
}

.profile-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70vw;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.profile-info .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info .profile-pic {
  position: relative;
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  border: solid 1vw var(--cSecundario);
  border-radius: 50%;
}

.profile-info .profile-pic img {
  width: 100%;
  height: auto;
}

.profile-info .log-out {
  text-decoration: none;
  color: var(--cPrimario);
}

.profile-info .datos {
  display: flex;
  flex-direction: column;
  text-align: right;
  max-width: 90%;
}

.profile-info .datos input[type="text"],
.profile-info .datos input[type="password"],
.profile-info .datos input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-info .datos button[type="submit"] {
  margin: 10px;
  background: var(--cPrimario);
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-info .datos input[type="submit"]:hover {
  background: var(--cSecundario);
}

/* CSS FOOTER */
footer {
  background-color: white;
  margin: 0 auto;
  padding: 15px;
}

.footer-items {
  background-color: #dedddd;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  margin: 40px auto;
  padding: 10px;
}

.div-icon-footer {
  font-size: 2em;
  width: 100%;
  color: #1259c3;
  margin-bottom: 10px;
}

footer > p {
  text-align: center;
}

/* CSS LOGIN/REGISTER */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
}

.login-container .form-group {
  margin: 15px 0;
}

.login-container label {
  display: block;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container input[type="submit"] {
  background: var(--cPrimario);
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background: var(--cSecundario);
}

/* STYLES DEL FORMULARIO DE PRODUCTOS */
.product-form > form {
  display: flex;
  background-color: rgb(198, 194, 194);
  width: 70vw;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
  border-radius: 5px;
}

.product-form-items,
.product-form-items-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.product-form-items-items {
  width: 100%;
}

.product-form-items-items > label,
.product-form-items-items > input {
  display: block;
  width: 100%;
}

.product-form-items-items > input[type="file"] {
  width: 90%;
}

.product-form-items > input[type="submit"] {
  width: 40%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  /* CSS HEADER */
  .items-menu {
    display: none;
  }
  .items-marca {
    display: block;
  }

  .items-header {
    width: 30%;
  }
  .items-header-search {
    width: 40%;
    display: flex;
  }

  .items-search {
    width: 85%;
  }

  .items-submit {
    width: 15%;
  }

  .items-header-link {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
  }

  .items-header-link a {
    text-decoration: none;
    color: black;
  }

  /* NO SE COMO LLAMARLE XD */
  .img-inicio > img {
    width: 100%;
    margin: 0;
  }


  /* CSS MAIN */
  .precio-descuento-articulo .precio-sin-descuento,
  .descuento-articulo {
    font-size: 2vw;
  }
  .precio-descuento-articulo .precio-articulo,
  .precio-articulo-1 {
    font-size: 3vw;
  }
  .item-img > img {
    height: 33vh;
  }

  .item-articulo {
    width: 30%;
  }

  .div-button-descripcion > button {
    width: 70%;
  }

  /* CSS FOOTER */
  .footer-div {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-items {
    background-color: #dedddd;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    margin: 30px auto;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  /* NO SE COMO LLAMARLE XD */
  .img-inicio > img {
    width: 100%;
    margin: 0;
  }

  .bienvenida {
    display: block;
  }


  .eslogan .texto-inicio{
    font-size: 4vw;
  }
  .eslogan .autor-texto-inicio{
    font-size: 2.5vw;
    padding: 2vw;
  }


  /* CSS MAIN */
  .item-img > img {
    height: 40vh;
  }

  .div-button-descripcion > button {
    width: 60%;
  }

  .precio-descuento-articulo {
    display: flex;
    margin-top: 5px;
    width: 90%;
    margin: 5px auto;
  }

  .precio-descuento-articulo .precio-sin-descuento,
  .descuento-articulo {
    font-size: 1vw;
  }
  .precio-descuento-articulo .precio-articulo,
  .precio-articulo-1 {
    font-size: 1.5vw;
  }

  .item-articulo {
    width: 23%;
    margin-bottom: 3vh;
  }

  /* STYLES DEL FORMULARIO DE PRODUCTOS */
  .product-form > form {
    display: flex;
    background-color: rgb(198, 194, 194);
    width: 50vw;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto;
    border-radius: 5px;
    padding: 10px 0;
  }

  .product-form-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    width: 70%;
  }

  .product-form-items-items > input[type="file"] {
    width: 90%;
  }

  .product-form-items > input[type="submit"] {
    width: 40%;
    margin: 0 auto;
  }
}

@media (min-width: 1170px) {
  /* CSS MAIN */
  .item-img > img {
    height: 35vh;
    width: 100%;
  }


}

@media (min-width: 1220px) {
  /* CSS MAIN */
  .item-img > img {
    height: 45vh;
    width: 100%;
  }

  .div-button-descripcion > button {
    margin: 5px auto 1vh;
  }

  /* STYLES DEL FORMULARIO DE PRODUCTOS */
  .product-form > form {
    width: 40vw;
  }
}
