<!DOCTYPE html>
<html>
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>
    <div class="login-container">
      <h2>Creá tu cuenta</h2>

      <form action="autenticacion.js" method="post">
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="username">Usuario:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <label for="adress">Dirección:</label>
          <input type="text" id="adress" name="adress" required />
        </div>
        <div class="form-group">
          <input type="submit" value="Crear cuenta" />
        </div>
      </form>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
